html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

.picture-frame {

    width: 80%;
    border: 2px solid cornflowerblue;
    /* height: 200px; */

    /* wow! centering! */
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-frame img {
    width: 100%; 
    /* display: block; */
}

.hamster-playground {
    border: 5px solid gold;
    display: flex;

    /* if you set the height,
    that's how big the element will be, */
    min-height: 300px;
    
    
    flex-direction: column;

    /* how to line up on main axis */
    justify-content: flex-start;

    /* how to line up on cross axis */
    align-items: center;


    /* flex-wrap: wrap; */
}

